body {
    background-color: rgba(147, 1, 11, 0.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cbg {
    background: url(../img/pudu/bg.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    margin: auto;
    width: 900px;
    top: 30px;
    align-items: center;
    height: 1620px;
    position: relative;
}

.cintro {
    background: url(../img/pudu/遊戲說明.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    margin: auto;
    width: 900px;
    left: 40px;
    top: 36px;
    align-items: center;
    height: 1620px;
    position: absolute;
    z-index: 20000;
}

#x {
    background: url(../img/pudu/x.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    margin: auto;
    width: 150px;
    left: 325px;
    top: 215px;
    position: relative;
    height: 150px;
}

#putable {
    background: url(../img/pudu/供桌.png) no-repeat;
    background-size: contain;
    height: 795px;
    width: 785px;
    margin: auto;
    top: 180px;
    position: relative;
    z-index: 1;
}

#ghost1 {
    background: url(../img/pudu/ghost.png) no-repeat;
    background-size: contain;
    height: 122px;
    width: 130px;
    top: -640px;
    left: 750px;
    position: relative;
    z-index: 10000;
}

#ghost2 {
    background: url(../img/pudu/ghost2.png) no-repeat;
    background-size: contain;
    height: 244px;
    width: 168px;
    top: -795px;
    left: 5px;
    position: relative;
    z-index: 10001;
}

.gongpingText {
    background: url(../img/pudu/供品.png) no-repeat;
    background-size: contain;
    height: 85px;
    width: 300px;
    top: -170px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.type {
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    top: -160px;
}

.drinks {
    background: url(../img/pudu/必BUY飲品.png) no-repeat;
    background-size: contain;
    padding: 20px;
    margin: 5px;
    height: 48px;
    width: 230px;
}

.foods {
    background: url(../img/pudu/三牲四果.png) no-repeat;
    background-size: contain;
    padding: 20px;
    margin: 5px;
    height: 48px;
    width: 230px;
}

.tools {
    background: url(../img/pudu/普渡用品.png) no-repeat;
    background-size: contain;
    padding: 20px;
    margin: 5px;
    height: 48px;
    width: 230px;
}

.gongpingColumn {
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    top: -180px;
}

.gongpingRow {
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.gongpingbg {
    background: url(../img/pudu/供品背景.png) no-repeat;
    background-size: contain;
    height: 166px;
    width: 240px;
    padding: 2px;
    margin: 5px;
}

#finish {
    background: url(../img/pudu/完成.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 220px;
    top: -175px;
    margin: auto;
    position: relative;
    z-index: 1;
}

#trash {
    background: url(../img/pudu/垃圾桶.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
    top: -265px;
    left: 810px;
    position: relative;
}

#score {
    background: url(../img/pudu/Score.png) no-repeat;
    background-size: contain;
    height: 100px;
    width: 290px;
    margin: auto;
    top: 0;
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    color: #760008;
    text-align: center;
    line-height: 110px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 800;
}

#again {
    background: url(../img/pudu/再玩一次.png) no-repeat;
    background-size: contain;
    height: 106px;
    width: 500px;
    margin: auto;
    top: 750px;
    position: relative;
}

#save {
    background: url(../img/pudu/儲存到相簿.png) no-repeat;
    background-size: contain;
    height: 106px;
    width: 500px;
    margin: auto;
    top: 780px;
    position: relative;
}

#share {
    background: url(../img/pudu/分享給好友.png) no-repeat;
    background-size: contain;
    height: 106px;
    width: 500px;
    margin: auto;
    top: 810px;
    position: relative;
}

#letgo {
    background: url(../img/pudu/抽黑松.png) no-repeat;
    background-size: contain;
    height: 92px;
    width: 500px;
    margin: auto;
    top: 840px;
    position: relative;
}

#introduce {
    background: url(../img/pudu/供品說明.png) no-repeat;
    background-size: contain;
    height: 1000px;
    width: 1000px;
    margin: auto;
    position: fixed;
    text-align: center;
    line-height: 110px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 800;
    color: #861d0d;
    z-index: 30000;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

#introduceX {
    background: url(../img/pudu/x.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    margin: auto;
    width: 150px;
    left: 325px;
    top: 58px;
    position: relative;
    height: 150px;
}

#introduceText {
    position: relative;
    top: 190px;
    color: #861d0d;
    font-size: 2.5rem;
    word-wrap: break-word;
    width: 700px;
    left: 140px;
    text-align: left;
    font-weight: 700;
}