<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>成就</title>
    <link rel="stylesheet" href="{% static 'css/achi.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
            })
        });
    </script>
    <style>
        body {
            background-color: rgb(245, 209, 217);
        }
        
        #displayname {
            font-size: 5rem;
        }
        
        #displaypic {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 1px solid rgba(255, 0, 0, 1.00);
        }
    </style>
</head>

<body style="background-color:rgb(245,209,217);">
    <div style="top:50px;position: relative;">
        <center>
            <div style="display:inline-flex;bottom:130px;position: relative;margin: 80px;">
                <h1 id='displayname'>{{displayname}}</h1>
            </div>
            <div style="display:inline-flex">
                <img id="displaypic" src="{{pictureurl}}">
            </div>
        </center>
    </div>
    <h1>我的成就</h1>
    <hr>
    <div style="display:inline-flex">
        <img id='spinwheel'>
    </div>
    <div style="display:inline-flex">
        <img id='claire'>
    </div>
    <script>
        var gameDone = '{{gameDone}}'
        if (gameDone == 1) {
            document.getElementById("spinwheel").style.filter = 'none';
        }
        var claireDone = '{{claireDone}}'
        if (claireDone == 1) {
            document.getElementById("claire").style.filter = 'none';
        }
    </script>

</body>

</html>