<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Turntable</title>
    <link rel="stylesheet" href="{% static 'css/turntable.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
            })
        });
    </script>
</head>

<body>
    <div id="bgf" style="display:none;position: absolute;top: 0;left:0;margin: 0;padding: 0;width: 100%;height: 200%;z-index: 19; background-color: rgba(3,44,9,0.7);">
    </div>
    <div class="background">
        <div class="container">
            <div class="turntable" id="turntable">
            </div>
            <div class="btn">
            </div>
            <div class="pointer" id="pointer">
            </div>
            <div class="base">
            </div>
            <div class="gift">
            </div>
            <div class="win">
                <div>
                    <center id="price">？？？？？？？？</center>
                </div>
            </div>
        </div>
        <div class="white">
            <div style="padding:40px;">
                <center>
                    <p><strong><i>活動辦法</i></strong></p>
                </center>
                <p>
                    <font>1</font> 每人LINE帳號每日限玩乙次。
                </p>
                <p>
                    <font>2</font>
                    活動獎項以主辦單位提供之實物為準，無法指定顏色、型號、使用期限等規格，中獎者亦不得要求折抵現金、退換、轉售或折換其他物品。主辦單位保有修改或變更活動方式及更換活動獎品之權利。本活動獎品如遇有缺貨或不可抗力之因素無法提供時，主辦單位有權以其他等值商品替代。
                </p>
                <p>
                    <font>3</font> 本活動僅限居住於台灣、金門、澎湖、馬祖地區之中華民國國民參加，獎品寄送地址限於台灣、金門、澎湖、馬祖地區。
                </p>
                <p>
                    <font>4</font>
                    所有獎項之聯絡及寄送以中獎者於中獎時應主辦單位要求填寫之資料為準，參加者請務必確認資料無誤及填載正確，若因資料填寫不實、不完整或不正確造成無法聯繫或無法寄送或寄送錯誤或遭拒絕受領，則視同放棄權益且應自負其責，主辦單位不另行通知。
                </p>
                <p>
                    <font>5</font> 主辦單位保有一切修改及取消本活動的權利而不作事前通知。
                </p>
                <p>
                    <font>6</font> 當您參加抽獎即代表您同意黑松股份有限公司隱私權政策。
                </p>
            </div>
        </div>
    </div>
    <div id="end">
        <div id="end_close"></div>
    </div>
    <script src="{% static 'lib/Turntable.min.js' %}"></script>
    <script>
        var turnsCount = 6
        var turntable = new Turntable("#turntable", {
            turnsCount: turnsCount
        })

        function buttonOn() {
            turntable.run();
            ajax(1).then(function(data) {
                draw(data)
            })
        }
        document.querySelector(".btn").addEventListener("click", buttonOn)

        function ajax(status) {
            return new Promise(function(resolve, reject) {
                if (status == 1) {
                    setTimeout(function() {
                        var rate = JSON.parse('{{prize_rate2|safe}}');
                        var left = JSON.parse('{{prize_left2|safe}}');
                        var j = {};
                        var sum = 0;
                        for (var i = 0; i < 6; i++) {
                            if (parseInt(left[i.toString()]) > 0 && parseInt(rate[i.toString()]) > 0) {
                                sum = sum + parseInt(rate[i.toString()])
                            }
                        }
                        var jsonCount = 0;
                        for (var i = 0; i < 6; i++) {
                            if (parseInt(left[i.toString()]) > 0 && parseInt(rate[i.toString()]) > 0) {
                                j[i.toString()] = parseInt(rate[i.toString()]) / sum + jsonCount;
                                jsonCount = jsonCount + parseInt(rate[i.toString()]) / sum;
                            } else {
                                j[i.toString()] = -1;
                            }
                        }
                        var index = -1;
                        var rand = Math.random();
                        for (var i = 5; i >= 0; i--) {
                            if (parseInt(left[i.toString()]) > 0) {
                                if (j[i.toString()] > rand) {
                                    index = i;
                                }
                            }
                        }
                        if (index < 0) {
                            index = 5
                        }
                        var beenWin = '{{beenWin}}';
                        if (beenWin == '1') {
                            index = 5;
                        }
                        console.log(index)
                        console.log(j)
                        var newLeft = parseInt(left[index.toString()]) - 1;

                        //var index = Math.floor(Math.random() * turnsCount)
                        var name = ["焦糖韋恩咖啡", "明日再試！", "FIN旅行洗漱包", "明日再試！", "焦糖韋恩咖啡", "明日再試！"]
                        var fullName = ["CAN320ml焦糖韋恩咖啡乙箱", "明日再試！", "FIN旅行洗漱包乙個", "明日再試！", "CAN320ml焦糖韋恩咖啡乙箱", "明日再試！"]
                        var endBackgroundImg = ["url( {% static 'img/winCan.png' %}) no-repeat center center", "url({% static 'img/lose.png' %}) no-repeat center center", "url( {% static 'img/winFin.png' %}) no-repeat center center", "url({% static 'img/lose.png' %}) no-repeat center center", "url( {% static 'img/winCan.png' %}) no-repeat center center", "url({% static 'img/lose.png' %}) no-repeat center center"]
                        var endCloseBackgroundImg = ["url({% static 'img/goWin.png' %}) no-repeat center center", "url({% static 'img/goHome.png' %}) no-repeat center center", "url({% static 'img/goWin.png' %}) no-repeat center center", "url({% static 'img/goHome.png' %}) no-repeat center center", "url({% static 'img/goWin.png' %}) no-repeat center center", "url({% static 'img/goHome.png' %}) no-repeat center center"]
                        var endCloseTop = ["540px", "455px", "540px", "455px", "540px", "455px"]
                        var ifWin = ['1', '0', '1', '0', '1', '0'];
                        resolve({
                            get: 1,
                            index: index,
                            name: name[index],
                            fullName: fullName[index],
                            endBackgroundImg: endBackgroundImg[index],
                            endCloseBackgroundImg: endCloseBackgroundImg[index],
                            top: endCloseTop[index],
                            ifWin: ifWin[index],
                            newLeft: newLeft,
                        })
                    }, 200)
                }
            })
        }

        function draw(data) {
            if (data.get == 1) {
                var index = data.index
                turntable.done(index, function() {
                    document.getElementById("price").innerText = data.name;
                    document.getElementById("end").style.display = "flex";
                    document.getElementById("end").style.background = data.endBackgroundImg;
                    document.getElementById("end").style.backgroundSize = "contain";
                    document.getElementById("end_close").style.background = data.endCloseBackgroundImg;
                    document.getElementById("end_close").style.backgroundSize = "contain";
                    document.getElementById("end_close").style.display = "block";
                    document.getElementById("end_close").style.top = data.top;
                    document.getElementById("bgf").style.display = 'block';
                    document.getElementsByTagName("body")[0].style.overflow = 'hidden';
                    document.querySelector(".btn").removeEventListener("click", buttonOn);
                    console.log(data.newLeft, 'new')
                    if (data.ifWin == 1) {

                        document.querySelector("#end_close").addEventListener("click", function() {
                            window.location.replace('./gameForm?prize=' + data.fullName + '&uid={{uid}}');
                        })
                    } else if (data.ifWin == 0) {
                        document.querySelector("#end_close").addEventListener("click", function() {
                            window.location.replace('./liff?finish=bye');
                        })
                    }
                    //finish.submit();
                });
                $.ajax({
                    'url': '/game_done',
                    'type': 'POST',
                    'data': {
                        uid: '{{uid}}',
                        pname: data.name,
                        prize: '{{prize}}',
                        newLeft: data.newLeft,
                        index: data.index
                    },
                }).done(function(data) {
                    if (data.status == 200) {
                        console.log('a');
                    } else if (data.status == 400) {
                        alert(data.message);
                    }
                })

            }
        }
    </script>
</body>

</html>