<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Turntable</title>
    <link rel="stylesheet" href="{% static 'css/gameFormTraveltobuys.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <!--<script>
		$(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            })});
	</script>-->
</head>

<body>
    <div class="background">
        <div class="container">
            <form id='winner' action="/form_done" method="post">
                <center>
                    <div class="form_group">
                        <div>
                            <label style="font-family:Notobold;">恭喜中獎！獲得{{prize}}</label>
                        </div>
                    </div>
                </center>
                {% csrf_token %}
                <div class="form_group">
                    <div>
                        <label for="name">收件人姓名</label>
                    </div>
                    <input id="name" type="text" class="form_text" name="name" placeholder="請輸入收件人姓名">
                </div>
                <div class="form_group">
                    <div>
                        <label for="phone">手機號碼</label>
                    </div>
                    <input id="phone" type="text" class="form_text" name="phone" placeholder="請輸入手機號碼">
                </div>
                <div class="form_group">
                    <div>
                        <label for="address">收件地址</label>
                    </div>
                    <input id="address" type="text" class="form_text" name="address" placeholder="請輸入收件地址">
                </div>
                <div class="form_group" style="display: none;">
                    <div>
                        <label for="uid">uid</label>
                    </div>
                    <input id="uid" type="text" class="form_text" name="uid" value="{{uid}}">
                </div>
                <div class="form_group" style="display: none;">
                    <div>
                        <label for="prize">prize</label>
                    </div>
                    <input id="prize" type="text" class="form_text" name="prize" value="{{prize}}">
                </div>
                <div class="form_group">
                    <div class="form_submit">
                    </div>
                </div>
            </form>
        </div>
        <script>
            function submitOn() {
                if ($('#winner input[name="name"]').val() == "")
                    alert("請輸入收件人姓名");
                else if ($('#winner  input[name="phone"]').val() == "")
                    alert("請輸入手機號碼");
                else if ($('#winner  input[name="address"]').val() == "")
                    alert("請輸入收件地址");
                else
                    winner.submit();
            }
            document.querySelector(".form_submit").addEventListener("click", submitOn)
        </script>
        <div class="white">
            <div style="padding:40px;">
                <center>
                    <p><strong><i>活動辦法</i></strong></p>
                </center>
                <p>
                    <font>1</font> 每人LINE帳號每日限玩乙次。</p>
                <p>
                    <font>2</font> 活動獎項以主辦單位提供之實物為準，無法指定顏色、型號、使用期限等規格，中獎者亦不得要求折抵現金、退換、轉售或折換其他物品。主辦單位保有修改或變更活動方式及更換活動獎品之權利。本活動獎品如遇有缺貨或不可抗力之因素無法提供時，主辦單位有權以其他等值商品替代。</p>
                <p>
                    <font>3</font> 本活動僅限居住於台灣、金門、澎湖、馬祖地區之中華民國國民參加，獎品寄送地址限於台灣、金門、澎湖、馬祖地區。</p>
                <p>
                    <font>4</font> 所有獎項之聯絡及寄送以中獎者於中獎時應主辦單位要求填寫之資料為準，參加者請務必確認資料無誤及填載正確，若因資料填寫不實、不完整或不正確造成無法聯繫或無法寄送或寄送錯誤或遭拒絕受領，則視同放棄權益且應自負其責，主辦單位不另行通知。</p>
                <p>
                    <font>5</font> 主辦單位保有一切修改及取消本活動的權利而不作事前通知。</p>
                <p>
                    <font>6</font> 當您參加抽獎即代表您同意黑松股份有限公司隱私權政策。</p>
            </div>
        </div>
    </div>
</body>

</html>