<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
    <title></title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        window.alert = function(name) {
            var iframe = document.createElement("IFRAME");
            iframe.style.display = "none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            window.frames[0].window.alert(name);
            iframe.parentNode.removeChild(iframe);
        }
    </script>
    <script>
        $(document).ready(function() {
            // Using a Promise object
            liff.init({
                    //liffId: '1655755802-8R72prpM' // heysong
                    liffId: '1655755802-EQqmb6b8'

                })
                .then(() => {
                    // Start to use liff's api
                    var ifFinish = '{{finish}}';
                    var imgUrl = '{{imgUrl}}'
                    var oldUrl = imgUrl.replace('share', '')
                    var score = '{{score}}'
                    var uid = '{{uid}}'
                    var s = "https://casino.oakrange.io/media/uploads/thing".replace("thing", imgUrl)

                    if (ifFinish == 'save') {
                        liff.sendMessages([{
                                "type": "image",
                                "originalContentUrl": s,
                                "previewImageUrl": s
                            }])
                            .then(() => {
                                console.log('message sent');
                                alert('已傳送至LINE')
                                window.location.replace('./zhongyuantest?img=' + oldUrl + '&score=' + score.toString() + '&uid=' + uid);
                            })
                            .catch((err) => {
                                console.log('error', err);
                            });

                    } else if (ifFinish == 'share') {
                        if (liff.isApiAvailable('shareTargetPicker')) {
                            liff.shareTargetPicker([{
                                        'type': 'text',
                                        'text': '中元buy黑松 平安好運勢,快來擺設你的專屬供桌\n我拿到' + score + '分喔，快來試試看！'
                                    }, {
                                        "type": "template",
                                        "altText": "中元buy黑松 平安好運勢",
                                        "template": {
                                            "type": "image_carousel",
                                            "columns": [{
                                                "imageUrl": s,
                                                "action": {
                                                    "type": "uri",
                                                    "label": "去玩",
                                                    "uri": "https://liff.line.me/1655755802-oYDVdZdW?old=" + uid
                                                }
                                            }]
                                        }
                                    },
                                    /*{
                                                                       "type": "image",
                                                                       "originalContentUrl": s,
                                                                       "previewImageUrl": s
                                                                   }*/
                                ])
                                .then(function(res) {
                                    if (res) {
                                        // succeeded in sending a message through TargetPicker
                                        console.log(`[${res.status}] Message sent!`)
                                    } else {
                                        const [majorVer, minorVer] = (liff.getLineVersion() || "").split('.');
                                        if (parseInt(majorVer) == 10 && parseInt(minorVer) < 11) {
                                            // LINE 10.3.0 - 10.10.0
                                            // Old LINE will access here regardless of user's action
                                            console.log('TargetPicker was opened at least. Whether succeeded to send message is unclear')
                                        } else {
                                            // LINE 10.11.0 -
                                            // sending message canceled
                                            console.log('TargetPicker was closed!')
                                        }
                                    }
                                    liff.closeWindow()
                                }).catch(function(error) {
                                    // something went wrong before sending a message
                                    console.log('something wrong happen')
                                })

                        }

                    } else {
                        liff.getProfile()
                            .then(profile => {
                                window.location.replace('./zhongyuan?uid=' + profile.userId);
                            })
                            .catch((err) => {
                                console.log('error', err);
                            });
                    }


                })
                .catch((err) => {
                    // Error happens during initialization
                    console.log(err.code, err.message);
                });

        });
    </script>
</head>

<body>
    <h6>網頁跳轉中</h6>
    <style>
        .cbg {
            background: url(../img/pudu/bg.png) no-repeat;
            background-size: contain;
            overflow: hidden;
            margin: auto;
            width: 900px;
            top: 30px;
            align-items: center;
            height: 1620px;
            position: relative;
        }
    </style>

</body>

</html>