<!DOCTYPE html>{% load static %}
<html>

<head>
    <title>貪吃蛇</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="貪吃蛇">
    <meta name="Description" content="這是一個初學者用來學習的小遊戲">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
            })
        });
    </script>
    <style type="text/css">
        * {
            margin: 0;
        }
        
        .map {
            margin: 100px auto;
            height: 900px;
            width: 900px;
            background: #00D0FF;
            border: 10px solid #AFAEB2;
            border-radius: 8px;
        }
    </style>



</head>

<body>
    <div class="map">
        <canvas id="canvas" height="900" width="900">

        </canvas>
    </div>
    <script src="{% static 'lib/snake.js' %}"></script>
</body>

</html>