<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>中元buy黑松 平安好運勢</title>
    <link rel="stylesheet" href="{% static 'css/zhongyuan.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
            })
        });
    </script>
</head>

<body>
    <div class="background">
        <div class='cbg'>
            <div id="putable">
                <script>
                    var img = "{{img}}"
                    var s = "url(./media/uploads/thing) no-repeat".replace("thing", img)
                    document.getElementById("putable").style.background = s
                    document.getElementById("putable").style.backgroundSize = "contain"
                </script>
                <div id="score">
                    <script>
                        console.log("{{score}}")
                        document.getElementById("score").innerText = "{{score}}"
                    </script>
                </div>
                <div class="btn" id="again"></div>
                <div class="btn" id="save"></div>
                <div class="btn" id="share"></div>
                <div class="btn" id="letgo"></div>
                <script>
                    var uid = "{{uid}}"
                    document.querySelector("#again").addEventListener("click", function() {
                        window.location.replace('./zhongyuan?uid=' + uid);
                    })
                </script>
            </div>
            <div id="ghost1"></div>
            <div id="ghost2"></div>
        </div>
    </div>
</body>

</html>